<p>dashboard works!</p>
<div class="row">
    <div class="col-3">
        <label for="state">Select state</label>
        <select name="state" id="state" [(ngModel)]="selectedState" (change)="onChangeState($event)">
            <option [ngValue]="''">Select state</option>
            <option *ngFor="let state of stateList" [ngValue]="state.stateId">{{state.stateName}}</option>
        </select>
    </div>
    <div class="col-3">
        <label for="city">Select city</label>
        <select name="city" id="city" [(ngModel)]="selectedCity" [disabled]="!selectedState">
            <option [ngValue]="''">Select city</option>
            <option *ngFor="let city of filteredCities" [ngValue]="city.cityId">{{city.cityName}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="file" (change)="onFileSelected($event)" />
            <button (click)="uploadFile()">Upload</button>
        </div>
    </div>
</div>